.nav-bar_container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: center;
  height: 3rem;
  width: 100vw;
  background-color: #ccc;
  position: fixed;
}

.nav-bar_logo {
  height: 2rem;
}

.nav-bar_menu {
  display: flex;
  list-style-type: none;
}

.nav-bar_menu-item {
  margin: 0 2rem;
}
